/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
body,
html {
  height: 100%;
}
.map-small {
  height:60vh;
}

.map-large {
  height:90vh;
}

.bellchart-small {
  height:60vh; 
}

.bellchart-large {
  height:75vh; 
}

.bubbleplot-small{
  height:60vh;
}

.bubbleplot-large{
  height: 75vh;
}

.table-wrapper-2 {
  display: block;
  font-size: 9px;
  max-height: 60vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-wrapper-1 {
  display: block;
  font-size: 14px;
  max-height: 75vh;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
