<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Analysis of Data Analyst Jobs</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootswatch.com/3/cerulean/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css"> -->
  <script type="text/javascript" src="/static/js/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="/static/css/MarkerCluster.Default.css">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar-1" aria-exanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                        <a class="navbar-brand" href="/">ADA</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Menu<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/geomap">job geolocations</a></li>
                                <li><a href="/bellchart">company v salary</a></li>
                                <li><a href="/bubbleplot">rating v salary</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/datatable">Data</a></li>
                            </ul>
                        </li>
                        <li><a href="/process">process</a></li>
                        <li><a href="#">summary</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-7" style="padding:20px">
                <div id="map" class="map-small"></div>
            </div>
            <div class="col-md-5" style="padding:20px">
                <div class="card">
                    <div class="card-body">
                        <div id="datatable" class="table-wrapper-2">
                            <form action="" method="POST" ><button id="test-button" class="btn btn-danger" type="submit" name="test" value="{{  item2  }}"><span class="glyphicon glyphicon-trash"></span> Test</button> </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding:20px">
                <div id="bell" class="bellchart-small"></div>
            </div>
            <div class="col-md-5" style="padding:20px">
                <div id="bubble" class="bubbleplot-small"></div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://www.numericjs.com/lib/numeric-1.2.6.js"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script src="{{ url_for('static', filename='js/bubble.js') }}"></script>
<script src="{{ url_for('static', filename='js/bell.js') }}"></script>
<script src="{{ url_for('static', filename='js/render.js') }}"></script>
</body>
</html>